@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@view-transition {
  navigation: auto;
}

/* shared Tailwind Properties */
.transition {
  @apply transition-all ease-in-out duration-300;
}
.Icon {
  @apply flex items-center justify-center text-grayColor cursor-pointer font-bold hover:bg-[#f9fcff] border border-solid hover:border-neutral-300 hover:text-black rounded-full text-[17px] p-2;
}
.input {
  @apply px-[16px] py-[10px] md:py-[12px] outline-none text-sm text-[#5a5a5a]   border border-solid border-[#aeb7c154] rounded-md focus:border-slate-700 w-full font-normal;
}
.customInput {
  @apply rounded-[16px] border border-solid  py-[16px] px-[20px] outline-none text-sm text-[#1c1c1c]   focus:border-slate-700 w-full placeholder:font-thin placeholder:text-[#a3a2a2];
}
button {
  @apply font-medium text-sm leading-[1.71429] capitalize  shadow-none text-black   outline-none border border-solid border-neutral-200 m-0 no-underline px-3 py-[6px] rounded-md   transition-all duration-300 ease-in-out     hover:shadow-md;
}
.blackbutton {
  @apply flex items-center justify-center gap-1 bg-[#1A7F64] text-white px-3 py-2 rounded-md hover:shadow-lg hover:opacity-[.8] font-normal text-[13px] transition;
}
.customlabel {
  @apply absolute text-gray-500 cursor-text bg-white px-1 left-2.5 -top-3  transition-all transform origin-left  peer-placeholder-shown:top-2.5 peer-placeholder-shown:text-[#9EA9B5]   font-medium peer-focus:text-xs focus:-top-4 focus:left-2.5 focus:transform scale-90;
}

@keyframes fade {
  0% {
    opacity: 0;
    /* transform: translateY(-20px); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    /* transform: translateY(0); */
  }
  100% {
    opacity: 0;
    /* transform: translateY(-20px); */
  }
}
/* , fade-out 0.3s ease-in 2.7s forwards */
.animate-fade {
  animation: fade 0.5s ease-out;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-in-out {
  animation: fade-in-out 4s ease-in-out;
}

/* Optional: Highlight header row on hover */
@keyframes spin-fast {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-fast {
  animation: spin-fast 0.6s linear infinite;
}
